<!DOCTYPE html>
<html>
	<head>
		<meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
	</head>
	<body>
		<h3> Olá, <%= @name %></h3>
		<h3> A senha de acesso que você solicitou é <%= @password %> </h3>
		<p> Não foi você? fodase. </p>
	</body>
</html>