<h1 style="background-color: #2E8B57">Bem vindo ao Planta Planta!</h1>

<body>
  <main>
    <p>
      Esse projeto visa auxiliar o usuário a manter uma horta caseira.
    </p>

    <p>
      Nesse sistema o usuário poderá cadastrar plantas que ele deseja monitorar.
    </p>

    <p>
      O Planta a planta irá emitir avisos de quando será necessário regar, adubar, podar, e realizar diversas outras atividades na planta.
    </p>

    <p>
      Além disso, o sistema contará com pequenos vídeos explicativos de como realizar tais atividades.
    </p>

    <p>
      Dessenvolvido durante a disciplina de Engenharia de Sistemas de Informação.
    </p>
  </main>

  <footer>
    Criado por:
    <p>Vitor Contieri Rezende Peçanha</p>

    <p>Leandro Rodrigues de Godoy Chacur</p>

    <p>Claudia Alissa Kimura</p>

    <p>Laerte Vidal Junior</p>

  </footer>

</body>